body{
    /* background-color: white; */
}

/* class to position the right arrow */
.middleright {
    position: absolute;
    bottom: 300;
    right: 20px;
}

/* class to position the left arrow */
.middleleft {
    position: absolute;
    bottom: 300;
    left: 20px;
  }
  
  /* class to position the comic page */
  .center {
      position: absolute;
      bottom: 10;
      right: 400;
  }

  /* class to position the navigation bar */
.navBar {
    position: absolute;
    top: 10;
}
/* class to position navigation bar pages */
.tab {
    tab-size: 20;
}