/* <!--  CST 205
# Adventures of the 4 M.A.T.E.S
# This program is an interactive comic book with audio.
# By Marco-Antonio Vega, Timothy Hanneman, Anthony Rubio, and Eddie Sanchez.
# May 17, 2021
https://github.com/TimHanneman/Adventures_of_the_4_MATEs.git -->

    This is the styling page for the entire project. This is where the magic happens.

*/

body{
     background-color: rgb(0, 0, 0); 
}

/* class to position the right arrow */
.middleright {
    position: absolute;
    bottom: 300;
    right: 20px;
    z-index: 10;
}

/* class to position the left arrow */
.middleleft {
    position: absolute;
    bottom: 300;
    left: 20px;
    z-index: 10;
  }
  
  /* class to position the comic page */
  
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* class to position navigation bar pages */
#nav{
    background-color: red;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    color:white;
}




#nav{
    background-color: red;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1{
    /* z-index: 4; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.pop-out-video{
    margin: 20px;
    height: fit-content;
    width: fit-content;
}
.modal-dialog iframe{
    margin: 0 auto;
    display: block;
}

.page5-button{
    position: absolute;
    right: 33%;
    top: 90%;
    height: 50px;
    width: 100px;
    color: rgb(0, 179, 255);
    background-color: red;
}

audio{
    opacity: 0;
}

/* .transition {
    background-image: url("https://media.giphy.com/media/xT77Y1T0zY1gR5qe5O/giphy.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: transitionOut 1s;
    animation-fill-mode: forwards;
}

div {
    animation: transitionIn 0.50s;
    animation-fill-mode: forwards;
}

@keyframes transitionOut {
    from {
        opacity: 0.1;
        transform: rotateX(0);
    }

    to {
        opacity: 0;
        transform: rotateX(-10deg);
    }
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
} */
