<h1>Page 10</h1>
<html>
<head>
<style>

.middleright {
  position: absolute;
  bottom: 300;
  right: 20px;
}

.middleleft {
  position: absolute;
  bottom: 300;
  left: 20px;
}
</style>
</head>

<div class="middleleft">
    <h2>
        <a href="{{ url_for('page9') }}">
    </h2>
            <img src="/static/images/leftArrow.jpg" 
                width="150" 
                height="100"
                class="img-fluid rounded" 
                alt="Page 9" 
            >
        </a>
</div>

<div class="middleright">
    <h2>
        <a href="{{ url_for('titlePage') }}">
    </h2>
            <img src="/static/images/homeIcon.jpg" 
                width="100" 
                height="100"
                class="img-fluid rounded" 
                alt="Title Page" 
            >
        </a>
</div>
</html>