{{bootstrap.load_css() }}
<h1>Page {{ pageNumber }}</h1>
<html>
<head>
<style>

/* classes to position the images */
.middleright {
  position: absolute;
  bottom: 300;
  right: 20px;
}

.middleleft {
  position: absolute;
  bottom: 300;
  left: 20px;
}

.center {
    position: absolute;
    bottom: 10;
    right: 400;
}
</style>
</head>

<!-- left arrow -->
<div class="middleleft">
    {% if pageNumber==1 %}
        <h2>
            <a href="{{ url_for('titlePage') }}">
        </h2>
                <img src="/static/images/leftArrow.jpg" 
                    width="150" 
                    height="100"
                    class="img-fluid rounded" 
                    alt="Page {{ pageNumber }}" 
                >
            </a>
    {% else %}
        <h2>
            <a href="{{ url_for('page', pageNumber = pageNumber - 1) }}">
        </h2>
                <img src="/static/images/leftArrow.jpg" 
                    width="150" 
                    height="100"
                    class="img-fluid rounded" 
                    alt="Page {{ pageNumber }}" 
                >
            </a>
    {% endif %}
</div>
<!-- right arrow -->
<div class="middleright">
    {% if pageNumber==12 %}
        <h2>
            <a href="{{ url_for('titlePage') }}">
        </h2>
                <img src="/static/images/homeIcon.jpg" 
                    width="100" 
                    height="100"
                    class="img-fluid rounded" 
                    alt="Title Page" 
                >
            </a>
    {% else %}
        <h2>
            <a href="{{ url_for('page', pageNumber = pageNumber + 1) }}">
        </h2>
                <img src="/static/images/rightArrow.jpg" 
                    width="150" 
                    height="100"
                    class="img-fluid rounded" 
                    alt="Page {{ pageNumber }}" 
                >
            </a>
    {% endif %}
</div>
</html>

<!-- image for a certain page -->
<div class="center">
    <img src="/static/images/comicPage{{ pageNumber }}.jpg" 
        width="750" 
        height="730"
        class="rounded img_fluid" 
        alt="Page {{ pageNumber }}" 
    >
</div>