<h1>Page 5</h1>
<html>
<head>
<style>

.middleright {
  position: absolute;
  bottom: 300;
  right: 20px;
}

.middleleft {
  position: absolute;
  bottom: 300;
  left: 20px;
}
</style>
</head>

<div class="middleleft">
    <h2>
        <a href="{{ url_for('page4') }}">
    </h2>
            <img src="/static/images/leftArrow.jpg" 
                width="150" 
                height="100"
                class="img-fluid rounded" 
                alt="Page 4" 
            >
        </a>
</div>

<div class="middleright">
    <h2>
        <a href="{{ url_for('page6') }}">
    </h2>
            <img src="/static/images/rightArrow.jpg" 
                width="150" 
                height="100"
                class="img-fluid rounded" 
                alt="Page 6" 
            >
        </a>
</div>
</html>